@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.menuItems{
  display: none;
}
.Sub-SideNav{
  display: none;
}
.Sub-SideNav-on-click{
  display: none;
}
.HamBurgerIcon{
  display: none;
}
@font-face {
  font-family: europa;
  src: url(../assets/EuropaGroteskSH-Reg.otf);
}
@font-face {
  font-family: helvet;
  src: url(../assets/Helvetica.ttf);
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.is-sticky {
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  position: fixed;

  /* z-index: 999; */
  display: flex;
  align-items: center;
  height: 10%;
  /* background: linear-gradient(135deg, rgba(17, 13, 29, 0.1), rgba(22, 18, 37, 0.1)); */
  /* background-image: linear-gradient(to right, #d3c0ab,rgb(228, 164, 85) , rgb(211, 191, 169)); */
  background-color: rgb(228, 164, 85) ;

  
  /* animation: 1s ease-in 500ms normal none 1 running fade-down; */
  /* padding-top: 0px;
  padding-bottom: 0px; */
  transition: 500ms;


}

/* OnScroll Animation  */
.hidden1{
  opacity:0;
  /* filter:blur(5px); */
  transform:translateY(100px);
  transition:all 2s;
}
.hidden2{
    opacity:0;
    /* filter:blur(5px); */
    transform: translateX(-50%);
    transition:all 1s;
  }

.hidden3{
  opacity:0;
  /* filter:blur(5px); */
  transform: translateX(-100%);
  transition:all 1s;
  }
  .hidden4{
    opacity:0;
    /* filter:blur(5px); */
    transform: translateX(-150%);
    transition:all 1s;
    }
  

.show{
opacity:1;
filter:blur(0);
transform:translateY(0px);
}

.showleftSlider{

    opacity: 1;
    filter:blur(0);
    transform: translateX(0%);

}

.rightSlider{
  opacity: 1;
  filter:blur(0);
  transform: translateX(0px);

}
/* ## */

.header{
  width: 50%;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.landingpage{
  background-image: linear-gradient(to right, #d3c0ab,rgb(228, 164, 85) , rgb(211, 191, 169));
}

.indiv{
  background: url(../assets/aboutnew.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 
}
.indiv::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.indiv h2{
  font-size: 5vw;
  max-width: 60%;
  line-height: 100%;
  font-family: europa;
  z-index: 5;
  
}
.downbutton{
  border: 2px solid white;
  background-color: transparent;
  z-index: 5;
}

.page2imgdiv{
  background: url(../assets/aboutnew.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 
}

.page2{
  
  h2{
    font-size: 45px;
    font:helvet;
    font-weight: 200;
  }
  p{
    font-size: 25px;
    max-width: 90%;
   
  }
}
.page3{
  background-image: linear-gradient( rgb(211, 191, 169), rgb(228, 164, 85) );
   box-shadow: 0px -30px 30px 10px rgb(210, 193, 173) inset;
}
.inpage3{
  background: url(../assets/getquote.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
.inpage3::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.inpage3 h3{
  position: relative;
  
}
.inpage3 h2{
    z-index: 5;
    font-size: 50px;
    position: relative;
    font-family: helvet;
    
}
.inpage3 p{
  max-width: 40%;
   font-size: 20px;
   position: absolute;
   z-index: 5;
   font:helvet;
   bottom: 10%;
   color: rgba(255,255,255,0.9);
  
}
.footer{
  background-color: rgb(206, 205, 201);
}
.infoot{
  background-color:  rgb(196, 159, 131);
}

.landpage4{
  background:linear-gradient( to bottom,rgb(209, 193, 174), rgb(228, 164, 87) ,rgb(210, 192, 171));
}
.landing4{
  h2{
    font-size: 45px;
    font:helvet;
    font-weight: 200;
  }
}
.helvetfont{
  font-size: 45px;
    font:helvet;
    font-weight: 200;
}
.landing4 p{
  max-width: 40%;
}
.page4img{

  border-radius: 5%;
}

.page5{
  background-color: rgb(206, 205, 201);
}


