@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
body{
  width: 200px;
}
.menuItems{
  display: none;
}
.Sub-SideNav{
  display: none;
}
.Sub-SideNav-on-click{
  display: none;
}
.HamBurgerIcon{
  display: none;
}
@font-face {
  font-family: europa;
  src: url(../assets/EuropaGroteskSH-Reg.otf);
}
@font-face {
  font-family: helvet;
  src: url(../assets/Helvetica.ttf);
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body{
  background-image: linear-gradient(to right, #d3c0ab,rgb(228, 164, 85) , rgb(211, 191, 169));
}

.is-sticky {
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  position: fixed;

  /* z-index: 999; */
  display: flex;
  align-items: center;
  height: 10%;
 
  /* background: linear-gradient(135deg, rgba(17, 13, 29, 0.1), rgba(22, 18, 37, 0.1)); */
  /* background-image: linear-gradient(to right, #d3c0ab,rgb(228, 164, 85) , rgb(211, 191, 169)); */
  background-color: rgb(228, 164, 85) ;

  
  /* animation: 1s ease-in 500ms normal none 1 running fade-down; */
  /* padding-top: 0px;
  padding-bottom: 0px; */
  transition: 500ms;


}



.looder{
  z-index: 99;
  background-color: transparent;
  transition: all linear;
  pointer-events: none;
    h3{
      font-size: 60px;
      font-family: europa;
      mix-blend-mode: difference;
      transition: all linear ;
    }
   hr{
    box-shadow: 0px 0px 10px #e3a558;
   }
}
.upbox{
  transition: all linear;
  animation-name: flashes;
  animation-duration: 2s;
  animation-iteration-count: 3;
}
.downbox{
  transition: all linear;
  animation-name: flashes;
  animation-duration: 2s;
  animation-iteration-count: 3;
}


@keyframes flashes {
  0%   {background-color: white;}
  50%  {background-color: black;}
  75%  {background-color: white;}
  100% {background-color: black;}
  
}

.header{
  background-image: linear-gradient(to right, #d3c0ab,rgb(228, 164, 85) , rgb(211, 191, 169));
 z-index: 90;

}

.HamBurgerIcon{
  z-index: 90;
}
.label{
  display:flex;
  flex-direction:column;
  width:3rem;
  cursor:pointer;
  justify-items: center;   
 }
 
 .label .span{
  background: white;
  border-radius:50px;
  height:3px;
  margin: 7% 0;
  transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
  margin-left: 0.5rem;
 
 }
 
 .span:nth-of-type(1){
   width:70%;
   
 }
 .span:nth-of-type(2){
   width:70%;
 }
 
 
 .span:nth-of-type(3){
   width:70%;
  
 }
 
 
.input[type="checkbox"]{
   display:none;
 }
 
 
 .input[type="checkbox"]:checked ~ .span:nth-of-type(1){
    background-color: white;
   transform-origin:bottom;
   transform:rotatez(45deg) translate(5px,0px)
 }
 
 
 .input[type="checkbox"]:checked ~ .span:nth-of-type(2){
  background-color: white;

   transform-origin:  top;
   transform:rotatez(-45deg)
 }
 
 
.input[type="checkbox"]:checked ~ .span:nth-of-type(3){
  background-color: white;

   transform-origin:bottom;
   width:50%;
   transform: translate(17px,-3px) rotatez(45deg);
 
 }

/* OnScroll Animation  */
.hidden1{
  opacity:0;
  /* filter:blur(5px); */
  transform:translateY(100px);
  transition:all 2s;
}
.hidden2{
    opacity:0;
    /* filter:blur(5px); */
    transform: translateX(-50%);
    transition:all 1s;
  }

.hidden3{
  opacity:0;
  /* filter:blur(5px); */
  transform: translateX(-100%);
  transition:all 1s;
  }
  .hidden4{
    opacity:0;
    /* filter:blur(5px); */
    transform: translateX(-150%);
    transition:all 1s;
    }
  

.show{
opacity:1;
filter:blur(0);
transform:translateY(0px);
}

.showleftSlider{

    opacity: 1;
    filter:blur(0);
    transform: translateX(0%);

}

.rightSlider{
  opacity: 1;
  filter:blur(0);
  transform: translateX(0px);

}
/* ## */

.header{
  width: 50%;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.landingpage{
  background-image: linear-gradient(to right, #d3c0ab,rgb(228, 164, 85) , rgb(211, 191, 169));
  
}

h2:hover{
  color: rgb(45, 71, 118);
  mix-blend-mode: difference;
}

.indiv{
  background: url(../assets/aboutnew.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 
}
.indiv::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.indiv h2{
  font-size: 5vw;
  max-width: 60%;
  line-height: 100%;
  font-family: europa;
  z-index: 5;
  
}

.downbutton{
  border: 2px solid white;
  background-color: transparent;
  z-index: 5;
}

.page2imgdiv{
  background: url(../assets/number1sol.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
 
}

.page2{
  
  h2{
    font-size: 45px;
    font:helvet;
    font-weight: 200;
  }
  p{
    font-size: 25px;
    max-width: 90%;
   
  }
}
.page3{
  background-image: linear-gradient( rgb(211, 191, 169), rgb(228, 164, 85) );
   box-shadow: 0px -30px 30px 10px rgb(210, 193, 173) inset;
}
.inpage3{
  background: url(../assets/getquote.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
}
.inpage3::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.inpage3 h3{
  position: relative;
  
}
.inpage3 h2{
    z-index: 5;
    font-size: 50px;
    position: relative;
    font-family: helvet;
    
}
.inpage3 p{
  max-width: 40%;
   font-size: 20px;
   position: absolute;
   z-index: 5;
   font:helvet;
   bottom: 10%;
   color: rgba(255,255,255,0.9);
  
}
.footer{
  background-color: rgb(206, 205, 201);
}
.infoot{
  background-color:  rgb(196, 159, 131);
}

.landpage4{
  background:linear-gradient( to bottom,rgb(209, 193, 174), rgb(228, 164, 87) ,rgb(210, 192, 171));
}
.landing4{
  h2{
    font-size: 45px;
    font:helvet;
    font-weight: 200;
  }
}
.helvetfont{
  font-size: 45px;
    font:helvet;
    font-weight: 200;
}
.landing4 p{
  max-width: 40%;
}
.page4img{

  border-radius: 5%;
}
.p4img{
  object-fit: cover;
}
.menuItems{
  display: none;
}

@media (min-width: 1280px) {
  /* .Sub-SideNav {
    background: linear-gradient(to bottom right, #5b21b6, #1e3a8a);
    z-index: 1000;
    bottom: 0;
    left: 100%;
    position: fixed;
    display: flex;
    width: 100%; */
    /* height: 100%; 
    box-shadow: var(--shadow-box);
    transition: all 500ms ease-in-out; Unified transition property */
  /* } */
  
  .Sub-SideNav-on-click {
    /* display: flex;
    z-index: 1000;
    bottom: 0%;
    left: 0;
    position: fixed;
    justify-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #5b21b6, #1e3a8a);
    box-shadow: var(--shadow-box);
    transition: all 500ms ease-in-out;  */
  }
  
  .menuItems {
    /* display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, #00042a, #1e3a8a);
    width: 100%;
    height: 111vh;
    align-items: center;
    padding-top: 3rem;
    padding-left: 2rem;
    justify-content: center;
    gap: 10px;
    margin-top: -3rem;
    color: white; */
  }
  .menuItems h4{
    font-size: 2.3rem;
  }

.page5{
  background-color: rgb(206, 205, 201);
}

}

@media (min-width: 768px) {
  .HamBurgerIcon{
    display: flex;
  }
  .Sub-SideNav {
    /* background: linear-gradient(to bottom right, #5b21b6, #1e3a8a);
    z-index: 1000;
    bottom: 0;
    left: 100%;
    position: fixed;
    display: flex;
    width: 100%; */
    height: 100%; /* Changed to vh for consistency */
    /* box-shadow: var(--shadow-box);
    transition: all 500ms ease-in-out; Unified transition property */
  }
  
  .Sub-SideNav-on-click {
    /* display: flex;
    z-index: 1000;
    bottom: 0%;
    left: 0;
    position: fixed;
    justify-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #5b21b6, #1e3a8a);
    box-shadow: var(--shadow-box); */
    transition: all 500ms ease-in-out; /* Unified transition property */
  }
  
  .menuItems {
    /* display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, #00042a, #1e3a8a);
    width: 100%;
    height: 111vh;
    align-items: center;
    padding-top: 3rem;
    padding-left: 2rem;
    justify-content: center;
    gap: 10px;
    margin-top: -3rem;
    color: white; */
  }
  .menuItems h4{
    font-size: 2rem;
  }

}
.page5{
  
  h2{
    font-size: 50px;
    max-width: 80%;
    line-height: 100%;
  }
  p{
    margin-top: 10%;
    bottom: 10%;
    max-width: 70%;
    font-size: 20px;
  }
}

.page6{
  background-color: rgb(206, 205, 201);
  height: auto;
  h2{
    font-size: 40px;
  }
  p{
    max-width: 40%;
    
  }
  h3{
    font-size: 20px;
  }
  hr{
    border: 0.5px solid black;
  }
}

.imgpage7{
  object-fit: cover;
}

.cardspage7{
  padding: 20px;
  h2{
    font-size: 50px;
  }
  h3{
    font-size: 20px;
  }
}

@media screen and (max-width: 640px) {
   
   
  .HamBurgerIcon{

    display: flex;
  }
  .Sub-SideNav {
    /* background: linear-gradient(to bottom right, #5b21b6, #1e3a8a);
    z-index: 1000;
    bottom: 0;
    left: 100%;
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%; Changed to vh for consistency */
    /* transition: all 500ms ease-in-out; Unified transition property */
  }
  
  .Sub-SideNav-on-click {
    /* display: flex;
    z-index: 1000;
    bottom: 0%;
    left: 0;
    position: fixed;
    justify-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #5b21b6, #1e3a8a);
    box-shadow: var(--shadow-box); */
    /* transition: all 500ms ease-in-out; Unified transition property */
  }
  
  .menuItems {
    /* display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, #00042a, #1e3a8a);
    width: 100%;
    height: 111vh;
    align-items: center;
    padding-top: 3rem;
    padding-left: 2rem;
    justify-content: center;
    gap: 10px;
    margin-top: -3rem;
    color: white; */
  }
  .menuItems h4{
    font-size: 1.6rem;
  }
 .landingpage{
  padding-top: 20px;
  padding-bottom: 0px;
 }
  .p2box ,.page4{
    flex-direction: column;
    
    h3{
      font-size: 10px;
    }
    h2{
      font-size: 30px;
    }
    p{
      font-size: 10px;
      max-width: 100%;
    }
  }
  .p2a,.p4a{
    width: 100%;
  }
  .p2button{
    margin-top: 36px;
    width: 100%;
  }
  
  .p2b,.p4b{
    width: 100%;
  }
 .page3{
  height: 40vh;
 }
  .inpage3,.page4{
    flex-direction: column;
  }
  .ininp3{
    width: 100%;
    p{
      font-size: 10px;
      max-width: 100%;
      position: relative;
    }
  }
 .p3button{
  
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  left: 0%;
  position: relative;
  
 }
.page4{
  height: 60vh;
  
}
.p4a{
  height: 40%;
  gap:10px;
  h2{
    font-size: 20px;
  }
  p{
    margin-top: -60px;
    bottom: 1rem;
  }
 


}

.p4b{
  height: 60%;
  
}
.p4img{
  object-fit: cover;
}

.page7{
  height: auto;
}
.cardspage7{
  padding: 0%;
}
.page5{
  height: auto;
}
.inp5{
  flex-direction: column;
 
}
.p5a{
  width: 100%;
}
.p5b{
  width: 100%;
  padding: 10%;
  h3{
    font-size: 10px;
  }
 
 
}
.page5{
  h2{
    max-width: 80%;
    font-size: 25px;
  }
  p{
    max-width: 100%;
    font-size: 10px;
    margin: 0;
    position: relative;
  }
  
}
.p5button{
  width: 100%;
  position: relative;
  flex-direction: row;
  gap: 10px;
  bottom: 0%;
  margin-top: 20px;
}

.page6{
  background-color: rgb(206, 205, 201);
  height: auto;
  h2{
    font-size: 40px;
  }
  p{
    max-width: 40%;
    
  }
  h3{
    font-size: 20px;
  }
  hr{
    border: 0.5px solid black;
  }
}
.inp6{
  gap: 20px;
}
.p7map{
  flex-direction: column;
   
  p{
    max-width: 100%;
    font-size: 10px;
  }
}

.cardspage7 {
  padding: 20px;
  h2{
    bottom: 40%;
    font-size: 30px;
  }
  h3{
    font-size: 15px;
  }
}


.midfoot{
  flex-direction: column;
}
.inmid{
  flex-direction: row;
}



}


